[submodule "ImageConverterFFMPEG/deps/Lunaris/socket"]
	path = ImageConverterFFMPEG/deps/Lunaris/socket
	url = https://www.github.com/LunarisLib/Lunaris-Socket
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "project/shared/deps/Lunaris/CURL"]
	path = project/shared/deps/Lunaris/CURL
	url = https://www.github.com/LunarisLib/Lunaris-CURL
[submodule "project/shared/deps/Lunaris/Process"]
	path = project/shared/deps/Lunaris/Process
	url = https://www.github.com/LunarisLib/Lunaris-Process
[submodule "project/shared/deps/json"]
	path = project/shared/deps/json
	url = https://www.github.com/nlohmann/json
[submodule "project/cmd/deps/Lunaris/Console"]
	path = project/cmd/deps/Lunaris/Console
	url = https://www.github.com/LunarisLib/Lunaris-Console
